@import "custom.scss";

.App {
 /* text-align: center; */
}

.link {
  color: grey;
}

.link.active {
  color: teal;
}

.main-container{
  min-height: 100vh;
  padding-top: 150px;

}

.navbar {
  opacity: 0.8;
  box-shadow: 2px 2px 5px $gray-300;
}

