.form-background {
  min-height: 90vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(45deg, #2fa4d3, #1cccc4);
}

.contact-form {
  
  z-index:2;

}

.contact-card {
  background-color: rgba(246, 251, 252, 0.6);
  color: theme-color("primary");
}