
  .owl-nav {
    .fas {
      font-size: 3rem;
      color: theme-color("secondary");
    }
    .owl-prev {
      position: absolute;
      left: 0;
      top: 60px;
    }

    .owl-next {
      position: absolute;
      right: 0;
      top: 60px;
    }

    .owl-next:hover, .owl-prev:hover {
      background: none !important;
      .fas {
        color: theme-color("info");
      }
    }
  }
.owl-stage-outer{
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
 
}

h1 {
  padding-bottom: 1rem;
      color: theme-color("primary");
      text-shadow: 1px 1px 2px lightgrey; 
}

.use-cases-container, .publications-container, .cats-container, .news-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-divider {
  height: 3px;
  background: linear-gradient(to left,rgb(246, 251, 252), theme-color("info"), rgb(246, 251, 252));
}